<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>New User</title>
</head>
<body>
<form th:method="POST" th:action="@{/add}" th:object="${user}">
    <label for="Name">Name</label>
    <input type="text" th:field="*{name}" id="Name">

    <label for="Age">Age</label>
    <input type="text" th:field="*{age}" id="Age">

    <label for="Email">Email</label>
    <input type="text" th:field="*{email}" id="Email">

    <input type="submit" value="Add"/>
</form>

</body>
</html>